<h3>{{isAddMode ? 'Add' : 'Edit'}} Product</h3>

<div *ngIf="products">
    <div>
        <div>
            <div >
                <label>ProductId :</label>
                <label *ngIf="producrId != 0" >{{products.productID}}</label>
            </div>
            <div>
                <label>Name :</label>
                <input  type="text" [(ngModel)]="products.name">
            </div>
            <div>
                <label>Price :</label>
                <input type="number" [(ngModel)]="products.price">
            </div>
        </div>
        <button class="button" *ngIf="producrId == 0" class="btn btn-primary" (click)="onClickSubmit()"> Submit Create
            Product ! </button>
        <button class="button" *ngIf="producrId != 0" class="btn btn-danger" (click)="onEditProduct()">Submit Edit
            Product !</button>
        <button routerLink="/product" class="btn btn-dark"> Product </button>
    </div>
</div>