<div *ngIf="cusEditHttp">
    <div class="modal-header">
        <!-- <button type="button" class="close" (click)="closeModal()">&times;</button> -->
        <h4 class="modal-title" class="text-justify">Modal title</h4>
    </div>
    <div class="modal-body" >
        <label>CustomerId : </label> <label>{{cusEditHttp.id}}</label>
        
        <br><br>
        <label>Name :</label> <input type="text" [(ngModel)]="cusEditHttp.name" />
        <br><br>
        <label>Age :</label> <input type="text" [(ngModel)]="cusEditHttp.age" />
     
        <br><br><br>
       
        <button type="button" class="btn btn-default" (click)="actionFunction()"> Your Save changes Edit</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>
    </div>
</div>