
        
        <div class="col-md-12">
            <div>
                <div>
                    <div >
                        <label>
                            <!-- <label>กรุณากรอกข้อมูล</label><input type="text" [(ngModel)]="dataUpdate.data" ><br>
                            <label>ตัวที่ต้องการเปลี่ยน</label><input type="text " [(ngModel)]="dataUpdate.charEdit"><br>
                            <label>ตัวที่ต้องการแทนที่</label><input type="text " [(ngModel)]="dataUpdate.charReplace"><br>
                         
                            <button (click)="onClickUpdate()">Click Update</button> -->
                            <h3>Shopping !</h3>
                        </label>
                        <br>
                        <!-- <button class="button"  routerLink="customer" class="btn btn-info">Customer</button>
                        <button class="margin-right: 100px;" routerLink="product" class="btn btn-info">Product</button>
                        <hr/> -->
                        <router-outlet></router-outlet>
                    </div>
            
                </div>
            </div>
        </div>
<p>----------------------------------------</p>

